{% include 'links.html' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
  *{border: none;}
  body{
    background-color: #001132;
  }
html { width: 100%; font-family: sans-serif; background-color: #fdfdfd; }
@media (max-width: 600px) { html { width: 600px; } }
@media (max-width: 800px) { body { margin: 0; } }
h1 { font-size: 24px; text-align: center; color: #444; margin-bottom: -10px; }
h2 { font-size: 16px; text-align: center; color: #444; margin-bottom: 2px; }
h2 span { cursor: pointer; border-style: outset; color: #444;
          border-width: 2px; padding: 4px; font-weight: normal; }
h2 span.on { border-style: inset; text-shadow: 1px 1px 0 #444; }
#detour { font-size: 11px; line-height: 3; text-align: center; color: #333; }
#footnote { font-size: 10px; text-align: center; color: #333; }
#periodic { margin: 0 auto; border-spacing: 0px;}
@media (min-width: 701px) and (max-width: 800px)
  { #periodic { border-spacing: 0px; } }
@media (max-width: 700px) { #periodic { border-spacing: 0px; } }
#periodic tr td { background-color: #f8f8f8; width: 32px; height: 32px;
                  cursor: pointer; border-style: outset; border-width: 1.5px; }
@media (max-width: 700px) { #periodic tr td { border-width: 2px; } }
#periodic tr td.empty { background-color: transparent; cursor: auto;text-align: left;border: none;}
#periodic tr.spacer td { height: 10px; }
#periodic tr td sup { font-size: 11px; display: block; text-align: center;padding: 9px 11px;}
#periodic tr td { font-size: 15px; text-align: center; position: relative; }
#periodic tr td.sel { border-style: inset; text-shadow: 1px 1px 1px #222; }
#periodic tr td.sel sup::before { content: '\25CF'; color: #0f0; font-size: 8px;
                                  position: absolute; top: -1px; left: 1px; }
#desc { padding: 0 30px; color: #333; }
#examples { margin: 0 auto; }
#examples tr td { background-color: #fff; width: 167px; height: 167px;
                  font-size: 48px; color: #aaa; text-align: center;
                  background-size: cover; background-repeat: no-repeat;
                  background-position: center center; }
#examples tr td a { display: block; width: 100%; height: 100%;
                    text-align: left; vertical-align: top;
                    font-size: 16px; color: #888; text-decoration: none; }
table.hide_optional tr.optional { display: none; }
      ul li{
        font-size: 18px;
      }
      #app_icon{
        color: mediumpurple;
        font-size:26px;
      }
      nav{
        background-color: none;
        font-family: 'Mouse Memoirs', sans-serif;
        box-shadow: 10px 10px 20px white;
      }
      #login a, #signup a{
        color: white;
      }
      #navbar{
      }
      header{
        background-image: url('/static/bg.jpg');
        background-repeat: no-repeat;
        height: 60vw;
        background-size: cover;
      }
     #to{
       background-color: white;
       width: 100vw;
       height: 192px;
       border-bottom: 2px white solid;
       border-bottom-left-radius: 200%;
       border-bottom-right-radius: 200%;
      rotate: 180deg;
      margin-top: 290px;
       }
      h1{
        color: mediumpurple;
        margin-top: -650px;
        margin-left: 30px;
        font-size: 60px;
        }  
      h2{
        color: white;
        margin-top: -10px;
        margin-left: 30px;
        font-size: 50px;
        } 
      .auto-type, span{
       color: #fff724;
      }
  .element{
    color: black;
    font-weight: 700;
  }
  sup{
    font-weight: 550;
  }
 </style>
<nav id="navbar">
<ul class="mx-2 nav nav-pills">
  <li class="nav-item mx-2">
    <a id="app_icon" class="nav-link" href="/"><i style="color: #fff724;" class="fa-light fa-duck"></i> {{site_name}}</a>
  </li>
  <li class="nav-item mt-2">
    <a style="color: white;margin-left: 24vw;" class="nav-link" href="/">Home</a>
  </li>
    <li class="nav-item mt-2">
    <a style="color: white;" class="nav-link" href="/about_us">About us</a>
  </li>
      <li class="nav-item mt-2">
    <a style="color: white;" class="nav-link" href="/physics">Physics</a>
  </li>
      <li class="nav-item mt-2">
    <a style="color: white;" class="nav-link" href="/chemistry">Chemistry</a>
  </li>
        <li class="nav-item mt-2">
    <a style="color: white;" class="nav-link" href="/maths">Maths</a>
  </li>
    <li style="margin-left: 30%;" id="login" class="nav-item mt-2">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li id="signup" class="nav-item mt-2">
    <a href="/signup" class="nav-link">SignUp</a>
  </li>
</ul>
    </nav>
  <br>
<table class="mt-2" id="periodic">
  <tr id="p1">
   <a class="el_val" href="/el_information">1<td style="background:#ff9999;border: none; margin-left: -13px;padding: 5px 5px;" onclick="elementClicked()" id="H"title="Hydrogen"><sup>1</sup><span class="element">H</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: none;border: none;" id="X" title="Unknown"><sup></sup> <span class="element"></span></td></a>
   <td class="empty" colspan="14"></span></td></a>
   <a class="el_val" href="/el_information"><td style="background: none;border: none;" id="X" title="Unknown"><sup></sup> <span class="element"></span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;"  onclick="elementClicked()"id="He" title="Helium"><sup>2</sup> <span class="element">He</span></span></td></a>
  </tr>
  <tr id="p2">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Li" title="Lithium"><sup>3</sup> <span class="element">Li</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Be" title="Beryllium"><sup>4</sup> <span class="element">Be</span></td></a>
   <td class="empty" id="desc" colspan="10" rowspan="2"></span></td></a>
   <td onclick="elementClicked()" style="background: #ffff66;border: none; margin-left: -13px;padding: 5px 6.5px;" id="B" title="Boron"><sup>5</sup> <span class="element">B</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="C" title="Carbon"><sup>6</sup> <span class="element">C</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="N" title="Nitrogen"><sup>7</sup> <span class="element">N</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="O" title="Oxygen"><sup>8</sup> <span class="element">O</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="F" title="Fluorine"><sup>9</sup> <span class="element">F</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Ne" title="Neon"><sup>10</sup> <span class="element">Ne</span></td></a>
  </tr>
  <tr id="p3">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Na" title="Sodium"><sup>11</sup> <span class="element">Na</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Mg" title="Magnesium"><sup>12</sup> <span class="element">Mg</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Al" title="Aluminium"><sup>13</sup> <span class="element">Al</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Si" title="Silicon"><sup>14</sup> <span class="element">Si</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="P"  title="Phosphorus"><sup>15</sup> <span class="element">P</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="S"  title="Sulfur"><sup>16</sup> <span class="element">S</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Cl" title="Chlorine"><sup>17</sup> <span class="element">Cl</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Ar" title="Argon"><sup>18</sup> <span class="element">Ar</span></td></a>
  </tr>
  <tr id="p4">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="K"  title="Potassium"><sup>19</sup> <span class="element">K</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Ca" title="Calcium"><sup>20</sup> <span class="element">Ca</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Sc" title="Scandium"><sup>21</sup> <span class="element">Sc</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ti" title="Titanium"><sup>22</sup> <span class="element">Ti</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="V"  title="Vanadium"><sup>23</sup> <span class="element">V</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cr" title="Chromium"><sup>24</sup> <span class="element">Cr</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Mn" title="Manganese"><sup>25</sup> <span class="element">Mn</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Fe" title="Iron"><sup>26</sup> <span class="element">Fe</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Co" title="Cobalt"><sup>27</sup> <span class="element">Co</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ni" title="Nickel"><sup>28</sup> <span class="element">Ni</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cu" title="Copper"><sup>29</sup> <span class="element">Cu</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Zn" title="Zinc"><sup>30</sup> <span class="element">Zn</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Ga" title="Gallium"><sup>31</sup> <span class="element">Ga</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Ge" title="Germanium"><sup>32</sup> <span class="element">Ge</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="As" title="Arsenic"><sup>33</sup> <span class="element">As</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Se" title="Selenium"><sup>34</sup> <span class="element">Se</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Br" title="Bromine"><sup>35</sup> <span class="element">Br</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Kr" title="Krypton"><sup>36</sup> <span class="element">Kr</span></td></a>
  </tr>
  <tr id="p5">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Rb" title="Rubidium"><sup>37</sup> <span class="element">Rb</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Sr" title="Strontium"><sup>38</sup> <span class="element">Sr</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Y"  title="Yttrium"><sup>39</sup> <span class="element">Y</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Zr" title="Zirconium"><sup>40</sup> <span class="element">Zr</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Nb" title="Niobium"><sup>41</sup> <span class="element">Nb</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Mo" title="Molybdenum"><sup>42</sup> <span class="element">Mo</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Tc" title="Technetium"><sup>43</sup> <span class="element">Tc</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ru" title="Ruthenium"><sup>44</sup> <span class="element">Ru</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Rh" title="Rhodium"><sup>45</sup> <span class="element">Rh</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pd" title="Palladium"><sup>46</sup> <span class="element">Pd</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ag" title="Silver"><sup>47</sup> <span class="element">Ag</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cd" title="Cadmium"><sup>48</sup> <span class="element">Cd</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="In" title="Indium"><sup>49</sup> <span class="element">In</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Sn" title="Tin"><sup>50</sup> <span class="element">Sn</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Sb" title="Antimony"><sup>51</sup> <span class="element">Sb</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Te" title="Tellurium"><sup>52</sup> <span class="element">Te</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="I"  title="Iodine"><sup>53</sup> <span class="element">I</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Xe" title="Xenon"><sup>54</sup> <span class="element">Xe</span></td></a>
  </tr>
  <tr id="p6">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Cs" title="Caesium"><sup>55</sup> <span class="element">Cs</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Ba" title="Barium"><sup>56</sup> <span class="element">Ba</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Lu" title="Lutetium"><sup>71</sup> <span class="element">Lu</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Hf" title="Hafnium"><sup>72</sup> <span class="element">Hf</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ta" title="Tantalum"><sup>73</sup> <span class="element">Ta</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="W"  title="Tungsten"><sup>74</sup> <span class="element">W</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Re" title="Rhenium"><sup>75</sup> <span class="element">Re</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Os" title="Osmium"><sup>76</sup> <span class="element">Os</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ir" title="Iridium"><sup>77</sup> <span class="element">Ir</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pt" title="Platinum"><sup>78</sup> <span class="element">Pt</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Au" title="Gold"><sup>79</sup> <span class="element">Au</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Hg" title="Mercury"><sup>80</sup> <span class="element">Hg</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Tl" title="Thallium"><sup>81</sup> <span class="element">Tl</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Pb" title="Lead"><sup>82</sup> <span class="element">Pb</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Bi" title="Bismuth"><sup>83</sup> <span class="element">Bi</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Po" title="Polonium"><sup>84</sup> <span class="element">Po</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="At" title="Astatine"><sup>85</sup> <span class="element">At</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Rn" title="Radon"><sup>86</sup> <span class="element">Rn</span></td></a>
  </tr>
  {%for e in eles%}

  {%endfor%}
  <tr id="p7">
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Fr" title="Francium"><sup>87</sup> <span class="element">Fr</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ff9999;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()"id="Ra" title="Radium"><sup>88</sup> <span class="element">Ra</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Lr" title="Lawrencium"><sup>103</sup> <span class="element">Lr</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Rf" title="Rutherfordium"><sup>104</sup> <span class="element">Rf</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Db" title="Dubnium"><sup>105</sup> <span class="element">Db</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Sg" title="Seaborgium"><sup>106</sup> <span class="element">Sg</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Bh" title="Bohrium"><sup>107</sup> <span class="element">Bh</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Hs" title="Hassium"><sup>108</sup> <span class="element">Hs</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Mt" title="Meitnerium"><sup>109</sup> <span class="element">Mt</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ds" title="Darmstadtium"><sup>110</sup> <span class="element">Ds</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Rg" title="Roentgenium"><sup>111</sup> <span class="element">Rg</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: dodgerblue;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cn" title="Copernicium"><sup>112</sup> <span class="element">Cn</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Nh" title="Nihonium"><sup>113</sup> <span class="element">Nh</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Fl" title="Flerovium"><sup>114</sup> <span class="element">Fl</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Mc" title="Moscovium"><sup>115</sup> <span class="element">Mc</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Lv" title="Livermorium"><sup>116</sup> <span class="element">Lv</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Ts" title="Tennessine"><sup>117</sup> <span class="element">Ts</span></td></a>
   <a class="el_val" href="/el_information"><td style="background: #ffff66;border: none; margin-left: -13px;padding: 7.5px 9px;" onclick="elementClicked()" id="Og" title="Oganesson"><sup>118</sup> <span class="element">Og</span></td></a>
  </tr>
  <tr class="spacer"><td class="empty" colspan=18></span></td></a></tr>
  <tr >
   <td class="empty" colspan="2"></span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="La" title="Lanthanum"><sup>57</sup> <span class="element">La</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ce" title="Cerium"><sup>58</sup> <span class="element">Ce</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pr" title="Praseodymium"><sup>59</sup> <span class="element">Pr</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Nd" title="Neodymium"><sup>60</sup> <span class="element">Nd</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pm" title="Promethium"><sup>61</sup> <span class="element">Pm</span></td></a><a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Sm" title="Samarium"><sup>62</sup> <span class="element">Sm</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Eu" title="Europium"><sup>63</sup> <span class="element">Eu</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Gd" title="Gadolinium"><sup>64</sup> <span class="element">Gd</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Tb" title="Terbium"><sup>65</sup> <span class="element">Tb</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Dy" title="Dysprosium"><sup>66</sup> <span class="element">Dy</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ho" title="Holmium"><sup>67</sup> <span class="element">Ho</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Er" title="Erbium"><sup>68</sup> <span class="element">Er</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Tm" title="Thulium"><sup>69</sup> <span class="element">Tm</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Yb" title="Ytterbium"><sup>70</sup> <span class="element">Yb</span></td></a>
   <td class="empty"></span></td></a>
  </tr>
  <tr>
   <td class="empty" colspan="2"></span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Ac" title="Actinium"><sup>89</sup> <span class="element">Ac</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Th" title="Thorium"><sup>90</sup> <span class="element">Th</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pa" title="Protactinium"><sup>91</sup> <span class="element">Pa</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="U"  title="Uranium"><sup>92</sup> <span class="element">U</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Np" title="Neptunium"><sup>93</sup> <span class="element">Np</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Pu" title="Plutonium"><sup>94</sup> <span class="element">Pu</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Am" title="Americium"><sup>95</sup> <span class="element">Am</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cm" title="Curium"><sup>96</sup> <span class="element">Cm</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Bk" title="Berkelium"><sup>97</sup> <span class="element">Bk</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Cf" title="Californium"><sup>98</sup> <span class="element">Cf</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Es" title="Einsteinium"><sup>99</sup> <span class="element">Es</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Fm" title="Fermium" value='100 Fermium'><sup>100</sup> <span class="element">Fm</span></td></a>
   <a class="el_val" href="/el_information"><td  style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="Md" title="Mendelevium"><sup>101</sup> <span class="element">Md</span></td></a>
  <a class="el_val" href="/el_information"> <td id="nope" style="background: mediumseagreen;border: none; margin-left: -13px;padding: 5px 6.5px;" onclick="elementClicked()" id="No" title="Nobelium"><sup>102</sup> <span class="element">No</span></td></a>
   <a><td class="empty"></span></td></a>
  </tr>
 </table>
<!-- {% include 'clicked_info.html' %} -->
<div style="text-align:center;width: 15vw;margin-left:15vw" class="card mt-5" style="width: 9rem;">
  <div class="card-body">
    <h6 id="atomicnumber" class="card-subtitle mb-2 text-body-secondary">{{elementsinfo['atomic_no']}}</h6>
    <h5 class="card-title">{{elementsinfo['id']}}</h5>
    <p class="card-text">{{elementsinfo['name']}}</p>
    <p class="card-text">Valency: {{elementsinfo['valency']}}</p>
  </div>
</div><br><br><br>
<script>
  var atomicno = document.getElementById('atomicnumber');
  var td = document.getElementsByTagName('td')
  
  function elementClicked() {
    var elements = document.getElementsByClassName('el_val');
    document.onclick = function (element) {
      var target = element.target.innerHTML;
      elements.innerHTML = target;
      atomicno.innerHTML = elements.innerHTML;
    }
};

</script>