<br><br><br>
<div style="display: block;justify-content: center; width: 60%;align-items:center;margin-left: 213px;">
  <a style="text-decoration: none;" href="/chem_periodic_table">
<div class="card mb-4 mt-5" style="max-width: 600px;height: 161.5px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/chem.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Chemistry</h5>
        <p class="card-text">This card will take you to Chemistry Dashboard, where you break the laws of science and make your own laws...</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div></a><br><br><br>
    <a style="text-decoration: none;" href="/physics">
<div class="card mb-4" style="max-width: 600px;height: 150px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="height: auto;" src="/static/physics.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <p class="card-text">This card will take you to Physics Dashboard, where you can explore many interactive features based on Physics...</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div></a><br><br><br>
    <a style="text-decoration: none;" href="https://smartduck-calc.netlify.app">
  <div class="card mb-3" style="max-width: 600px;height: 152px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img style="height: 150px;" src="/static/maths.jpg" class="img-fluid rounded-start">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Maths</h5>
        <p class="card-text">This card will take you to Maths Dashboard, where you get a chance to learn more practically...</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div></a>
      
</div>
